
#hr2{
	height: 0;
	border: 0;
	border-top: 1px solid pink;
}

.hr_hidden{
	display: none;
}

@media only screen and (max-width: 480px){
	.hr_hidden{
		display: block;
	}
	#hr_3{
		display: none;
	}
}
#a_bottom_link{
	color:black;
}

footer{
	background-color: gray;
	color:white;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;

}
small{
	/*font-weight: bold;*/
	font-family: helvetica;
}