/*#482727;*/
/*#633737*/
body{
	background-color: #dbe6e1;
}

.control-label{
	color:green;
	font-weight: bold;
	font-family: helvetica;
}

.form-group-has-error.control-label{
	color:orange;
	font-weight: bold;
	font-family: helvetica;
}


#h1_head{
	color:#585b61;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: helvetica;
}

#hr1{
 height:0; 
  border:0; 
  border-top:1px solid green; 
}

.help-block strong{
	color:blue;
}	

input.form-control:hover,textarea.form-control:hover {  /*#input#id_fullname.textinput.textInput.form-control*/
	border-color: black; 
}

#id_captcha_1:hover{
	border-color:#dbe6e1;
}
#id_captcha_1:focus {
	border-color:#dbe6e1;
}
input.form-control:focus,textarea.form-control:focus{  /*#input#id_fullname.textinput.textInput.form-control*/
	border-color: green; 
	font-family: helvetica;
	background:linear-gradient(rgba(253,253,252,1),rgba(253,253,252,0.3),rgba(253,253,252,0.1));
	color:black;
}


