{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Desham | {% block title %} {% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'hyway/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'hyway/css/base.css' %}">
  {% block css_block %}

  {% endblock %}
  <script src="{% static 'hyway/js/jquery.min.js' %}"></script>
  <script src="{% static 'hyway/js/bootstrap.min.js' %}"></script>
  {% block js_head_block %}

  {% endblock %}
</head>
<body>

{% include 'hyway/navbar.html' %}

{% block content %}

{% endblock %}


{% include 'hyway/footer.html' %}

{% block js_body_block %}

{% endblock %}
</body>
</html>
