{% extends "hyway/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}
Contact
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'hyway/css/contact.css' %}">
{% endblock %}

{% block js_head_block %}

<script type="text/javascript">

	$(document).ready(function(){
		document.getElementById("id_fullname").focus();
	});

</script>

{% endblock%} 

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<center>
				<h1 id="h1_head"><img src="https://cdn2.iconfinder.com/data/icons/educational-icons-4/512/message-512.png" width="8%" /> Contact</h1>
				<hr id="hr1">
			</center>
			<form method="POST" action="" autocomplete="off"> {% csrf_token %}
					{{ form | crispy }}
					<button type="submit" class="btn btn-primary btn-block">Submit</button>
			</form>
			<br>
			<br>

		</div>
	</div>
</div>
<hr>
{% endblock %}

{% block js_body_block %}

{% endblock %}


		
				
				
				


