<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-xs-12 text-center">
		<h4 class="h4_botton_cls">Desham</h4>
			<a href="/" >Home</a><br>
			<a href="/" >About</a><br>
			<a href="/" >Career</a><br>
			<hr class="hr_hidden">
		</div>

		<div class="col-md-3 col-lg-3 col-xs-12 text-center">
			<h4 class="h4_botton_cls">Prime Services</h4>
			<a href="/" >Marketing</a><br>
			<a href="/" >Education</a><br>
			<a href="/" >Health</a><br>
			<a href="/" >Donation</a><br>
			<a href="/" >Advertisement</a><br>
			<a href="/" >Strike</a><br>
			<hr class="hr_hidden">
		</div>

		<div class="col-md-3 col-lg-3 col-xs-12 text-center">
			<h4 class="h4_botton_cls">Entertainment</h4>
			<a href="/" >Songs</a><br>
			<a href="/" >Videos</a><br>
			<a href="/" >Images</a><br>
			<a href="/" >eBooks</a><br>
			<a href="/" >News</a><br>
			<hr class="hr_hidden">
		</div>

		<div class="col-md-3 col-lg-3 col-xs-12 text-center">
			<h4 class="h4_botton_cls">Find us on</h4>
			<a href="/" >Google+</a><br>
			<a href="/" >Facebook</a><br>
			<a href="/" >Linkedin</a><br>
			<a href="/" >Twitter</a><br>
			<a href="/" >Instagram</a><br>
			<hr class="hr_hidden">
		</div>		
	</div>
	<hr id="hr_3">
	<div class="row">
		<div class="col-xs-12 text-center">

					<small>©Copyright 2017, Desham<br>
					Contact : +91 7291978842, Bilaspur(CG)</small><br><br>

		</div>
	</div>
</div>