{% extends 'hyway/base.html' %}


{% block title %}
Contact
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-6 col-lg-3 text-center">
		<img id="myImg" src="http://marketingland.com/wp-content/ml-loads/2014/08/ecommerce-retail-ss-1920.jpg" width="100%" alt="eCommerce">
		</div>

		<div class="col-xs-6 col-lg-3 text-center">
		<img id="myImg" src="http://footage.framepool.com/shotimg/qf/934471362-electronic-banking-website-e-commerce-spending-money.jpg" width="100%" alt="Laptop">
		</div>

		<div class="col-xs-6 col-lg-3 text-center">
		<img id="myImg" src="http://d1s8mqgwixvb29.cloudfront.net/article/article_extra_large_image/1487143395_pB3kry_e-commerce-etailer-online-shopping-shutterstock_870.jpg" width="100%" alt="Keyboard">
		</div>

		<div class="col-xs-6 col-lg-3 text-center">
		<img id="myImg" src="https://4.bp.blogspot.com/-t1Wna6-jaUQ/VMFPfbo1VfI/AAAAAAABbb4/x3AnyF-fOck/s0/Apple%2BBusiness_UHD.jpg" width="100%" class='img-responsive' lt="TV">
		</div>
	</div>
	<br>
	<hr>
	<div class="row">
		<div class="col-xs-6 col-lg-3 text-center">
		<img id="myImg" src="http://marketingland.com/wp-content/ml-loads/2014/08/ecommerce-retail-ss-1920.jpg" width="100%" alt="eCommerce">
		</div>

		<div class="col-xs-6 col-lg-3 text-center">
		<img id="myImg" src="http://marketingland.com/wp-content/ml-loads/2014/08/ecommerce-retail-ss-1920.jpg" width="100%" alt="eCommerce">
		</div>

		<div class="col-xs-6 col-lg-3 text-center">
		<img id="myImg" src="http://marketingland.com/wp-content/ml-loads/2014/08/ecommerce-retail-ss-1920.jpg" width="100%" alt="eCommerce">
		</div>

		<div class="col-xs-6 col-lg-3 text-center">
		<img id="myImg" src="https://www.crestron.com/content/publicdownloads/products/a/a-hd-da4-4k-e.png" width="100%" alt="eCommerce">
		</div>
	</div>
	<br>
	<hr>
	<div class="row">
		<div class="col-xs-6 col-lg-3 text-center">
		<img id="myImg" src="http://e-file.huawei.com/~/media/EBG/Images/product/telepresence-video-communications/te30/TE30_%E5%8F%B3%E8%A7%86.jpg" width="100%" alt="eCommerce">
		</div>

		<div class="col-xs-6 col-lg-3 text-center">
		<img id="myImg" src="http://marketingland.com/wp-content/ml-loads/2014/08/ecommerce-retail-ss-1920.jpg" width="100%" alt="eCommerce">
		</div>

		<div class="col-xs-6 col-lg-3 text-center">
		<img id="myImg" src="http://marketingland.com/wp-content/ml-loads/2014/08/ecommerce-retail-ss-1920.jpg" width="100%" alt="eCommerce">
		</div>

		<div class="col-xs-6 col-lg-3 text-center">
		<img id="myImg" src="http://marketingland.com/wp-content/ml-loads/2014/08/ecommerce-retail-ss-1920.jpg" width="100%" alt="eCommerce">
		</div>
	</div>
</div>
<hr>
{% endblock %}
