<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0);">Desham</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Marketing as <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/myway/seller/register/"> Seller</a></li>
           
            
            <li><a href="#">Customer</a></li>
          </ul>
        </li>
        <li><a href="#">Education</a></li>
        <li><a href="#">Health</a></li>
        <li><a href="#">Jobs</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other <b class="caret"></b></a>
          <ul class="dropdown-menu">
          	<li><a href="#">eBooks</a></li>
          	<li><a href="#">News</a></li>
          	<li><a href="#">Stories</a></li>
          	<li class="divider"></li>
            <li><a href="#">Images</a></li>
            <li><a href="#">Videos</a></li>
            
            <li class="divider"></li>
            <li><a href="#">Food order</a></li>
            <li><a href="#">Booking</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter keywords">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
      	{% if not request.path == "/" %}
      	<li><a href="/">Home</a></li>
      	{% endif %}
      	{% if not request.path == "/myway/about/" %}
        <li><a href="#">About us</a></li>
        {% endif %}
        {% if not request.path == "/myway/contact/" %}
        <li><a href="/myway/contact/">Contact</a></li>
        {% endif %}
        {% if not request.path == "/myway/help/" %}
        <li><a href="#">Help</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

