{% extends 'hyway/base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-xs-12 text-center">
				<h2>{{ message | safe}}</h2><hr>
				<img src="https://daks2k3a4ib2z.cloudfront.net/564aac835a5735b1375b5cdf/5686afff210f4cfc16038e90_checkmark-green.png" width="40%"/>
				<hr>
		</div>
	</div>
</div>
{% endblock %}